@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(148, 38%, 91%);
    font-family: "Karla";
}

.parent-div {
    padding: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 14.5px;

}
form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "   name   surname   "
    "   email   email   "
    "   .   .   "
    "   .   .   "
    "   .   .   "
    "   .   .   "
    "   .   .   "
    ;
    column-gap: 15px;
    row-gap: 25px;
}
form input{
    padding: 13.5px 60px 13.5px 14px;
    border: 1px solid hsla(185, 6%, 62%, 0.795);
    border-radius: 8px;
    outline: none;
    color: #5a5f5e;
    font-size: 15px;

}
.h1 {
    grid-area: h1;
    font-weight: 700;
}

.name{
    grid-area: name;
}

.surname{
    grid-area: surname;
}

.email{
    grid-area: email;
}

.input-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

span{
    color: #0c7d69;

}

.inputlabel{
    font-size: 15px;
    color: #5a5f5e;
    font-weight: 500;
}

.type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;


}

.div-1{
    grid-area: div-1;
}

.div-2{
    grid-area: div-2
}


.general{
    width: 50%;
    
    padding: 13.5px ;
    border: 2px solid black;
}