@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-image: linear-gradient(#3aaf9f);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Winky Rough";
}

.parent-div {
    width: 490px;
    height: 560px;
    background-color: white;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.514);
    padding: 70px;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.icon-div {
    padding: 10px;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;

}


.button {
    width: 65px;
    height: 65px;
    padding: 20px;
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    opacity: 30%;
    border: 1px solid black;
    cursor: pointer;
}

h1 {
    color: #3aaf9f;
    font-size: 2.5rem;
}

input{
    padding: 13px 15px;
    width: 100%;
    font-size: 16px;
    border: none;
    background-color: #eeeeee;
    outline: none;
    border-radius: 3px;
}

form button{
    padding: 15px 90px;
    border-radius: 25px;
    border: none;
    background-color: #3aaf9f;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;

}

@media (max-width: 540px){
    .parent-div{
        width: 100%;
    }
    body{
        padding: 20px;
    }
}